.fondo-home {
    background-image: url(../multimedia/principal-fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 70vh;
    background-attachment: fixed;
    text-align: center;

    &__img {
        margin-top: 15em;
        width: 120px;

    }
    &__parrafo {
        color: $crl--celeste ;
        font-size: 1.5rem;
        padding-top: 0.5em;
        font-weight: 700;
        text-shadow: 2px 2px 2px $crl--negro-azul;
    }
}

@media only screen and (max-width: 480px){
    .fondo-home{
        &__img {
            margin-top: 10em;
            width: 120px;
        }
    }
}