$crl--negro:#000000;
$crl--negro-azul: #0D1821;
$crl--blanco: #FFFFFF;
$crl--celeste: #68C3D4;
$crl--verde: #35CE8D;
$crl--crema: #EFD9CE;
$crl--crema-2: #C2BEA3;
$crl--precaucion: #e91616;
$crl--amarillo: #E9C31D;
$crl--madera: #826251;
